@charset "utf-8"

body, h1 {
	margin: 0;
	padding: 0;
}
.header {
	width: 100%;
	position: relative;
	background-color: #eee;
}
.bcg {
	width: 618px;
	background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../images/bcg.jpg) no-repeat center; 
	text-align: center;
	color: #fff;
	position: absolute;
	top: 0;
	left: 450px;
}
